body {
    margin: 0px;
    padding: 0px;
    height: 2000px;
    font-family: 'PT Sans', sans-serif;
}

main {
    margin: 200px 0px 0px 218px;
}

.page {
    position: absolute;
    height: 746px;
    width: 523px;
    padding: 33px 40px;
    border: 2px solid black;

}

.page__sticker {
    float: right;
    right: 50px;
    width: 107px;
    height: 31px;
    border-radius: 0px 10px 10px 0px;
    border: 2px solid black;
}

.page_bg-color-grey-light {
    background-color: #ebebeb;
}

.page_bg-color-grey {
    background-color: #cccccc;
}

.page_bg-color-grey-dark {
    background-color: #acacac;
}

.page_margin-second {
    margin: 20px;
}

.page_margin-third {
    margin: 40px;
}

.page__sticker_bg-color-orange {
    background-color: rgba(246, 142, 86, 1);
}

.page__sticker_bg-color-green {
    background-color: rgba(57, 181, 74, 1);
}

.page__sticker_bg-color-blue {
    background-color: rgba(0, 174, 239, 1);
}

.page > section > h1 {
    margin-bottom: 14px;
}

.page > section > article {
    font-size: 12px;
}

article p:first-child {
}

article p:first-child img {
    float: left;
    margin: 0px 21px 17px 0px;
}

article p:last-child img {
    float: right;
    margin-left: 5px;
}

section > footer > p {
    text-align: center;
    font-size: 9px;
}
